@model PersonAddRequest


@{
    ViewBag.Title = "Create Person";

}

<div>
    <a asp-controller="Persons" asp-action="Index"  class="link-hover">
        <i class="fa-solid fa-arrow-left" style="font-size:1rem;"></i>
        Back
    </a>
</div>
<h2>@ViewBag.Title</h2>



<div class="w-50">
    <form asp-controller="Persons" asp-action="Create" method="post">
        <div class="form-field flex">
            <div class="w-25">
                <label for="PersonName" class="form-label pt">Name</label>
            </div>
            <div class="flex-1">
                <input asp-for="PersonName" class="form-input" />
            </div>
        </div>

        <div class="form-field flex">
            <div class="w-25">
                <label for="Email" class="form-label pt">Email</label>
            </div>
            <div class="flex-1">
                <input asp-for="Email" class="form-input" />
            </div>
        </div>

        <div class="form-field flex">
            <div class="w-25">
                <label for="DateOfBirth" class="form-label pt">Date Of Birth</label>
            </div>
            <div class="flex-1">
                <input asp-for="DateOfBirth" class="form-input" />
            </div>
        </div>

        <div class="form-field flex">
            <div class="w-25">
                <label class="form-label">Gender</label>
            </div>
            <div class="flex-1">
                @{
                    List<string> genderOptions = new(Enum.GetNames(typeof(GenderOptions)));
                }
                @foreach(string genderOption in genderOptions)
                {
                    <input type="radio" asp-for="Gender" value="@genderOption" />
                    <label for="@genderOption">@genderOption</label>
                }
            </div>
        </div>

        <div class="form-field flex">
            <div class="w-25">
                <label for="CountryID" class="form-label pt">Country</label>
            </div>
            <div class="flex-1">
                <select asp-for="CountryID" class="form-input">
                    <option value="">Please Select</option>
                    @foreach(CountryResponse country in ViewBag.Countries)
                    {
                        <option value="@country.CountryID">@country.CountryName</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-field flex">
            <div class="w-25">
                <label for="Address" class="form-label pt">Address</label>
            </div>
            <div class="flex-1">
                <textarea asp-for="Address" class="form-input" style="resize: none;"></textarea>
            </div>
        </div>

        <div class="form-field flex">
            <div class="w-25">
            </div>
            <div class="flex-1">
                <input asp-for="ReceiveNewsLetters" value="true" />
                <label for="ReceiveNewsLetters" class="form-label">Receive News Letters</label>
            </div>
        </div>

        <div class="form-field flex">
            <div class="w-25">
            </div>
            <div class="flex-1">
                <button class="button button-green-back">Create</button>

                @if (ViewBag.Errors != null)
                {
                    <div class="text-red ml">
                        <ul>
                            @foreach (string error in ViewBag.Errors)
                            {
                                <li class="ml">@error</li>
                            }
                        </ul>
                    </div>
                }
            </div>
        </div>
    </form>
</div>
