@model PersonResponse


@{
    ViewBag.Title = "Delete Person";
}

<div>
    <a asp-controller="Persons" asp-action="Index" class="link-hover">
        <i class="fa-solid fa-arrow-left" style="font-size:1rem;"></i>
        Back
    </a>
</div>
<h2>@ViewBag.Title</h2>



<div class="center-box">
    <form asp-controller="Persons" asp-action="Delete" method="post">
        <input type="hidden" asp-for="PersonID" />
        <div class="form-field flex">
            <div class="w-25">
                <label asp-for="PersonName" class="form-label pt">Name</label>
            </div>
            <div class="flex-1">
                <input asp-for="PersonName" disabled="disabled" class="form-input" />
                <span asp-validation-for="PersonName" class="text-red"></span>
            </div>
        </div>

        <div class="form-field flex">
            <div class="w-25">
                <label asp-for="Email" class="form-label pt">Email</label>
            </div>
            <div class="flex-1">
                <input asp-for="Email" disabled="disabled" class="form-input" />
                <span asp-validation-for="Email" class="text-red"></span>
            </div>
        </div>

        <div class="form-field flex">
            <div class="w-25">
                <label asp-for="DateOfBirth" class="form-label pt">Date Of Birth</label>
            </div>
            <div class="flex-1">
                <input asp-for="DateOfBirth" disabled="disabled" class="form-input" />
                <span asp-validation-for="DateOfBirth" class="text-red"></span>
            </div>
        </div>

        <div class="form-field flex">
            <div class="w-25">
                <label class="form-label">Gender</label>
            </div>
            <div class="flex-1">
                @{
                    List<string> genderOptions = new(Enum.GetNames(typeof(GenderOptions)));
                }
                @foreach (string genderOption in genderOptions)
                {
                    <input type="radio" asp-for="Gender" value="@genderOption" disabled="disabled" />
                    <label for="@genderOption">@genderOption</label>
                }
                <span asp-validation-for="Gender" class="text-red"></span>
            </div>
        </div>

        <div class="form-field flex">
            <div class="w-25">
                <label asp-for="CountryID" class="form-label pt">Country</label>
            </div>
            <div class="flex-1">
                <select asp-for="CountryID" disabled class="form-input" asp-items="ViewBag.Countries">
                    <option value="CountryID">Please Select</option>
                </select>
                <span asp-validation-for="CountryID" class="text-red"></span>
            </div>
        </div>

        <div class="form-field flex">
            <div class="w-25">
                <label asp-for="Address" class="form-label pt">Address</label>
            </div>
            <div class="flex-1">
                <textarea asp-for="Address" disabled="disabled" class="form-input" style="resize: none;"></textarea>
                <span asp-validation-for="Address" class="text-red"></span>
            </div>
        </div>

        <div class="form-field flex">
            <div class="w-25">
            </div>
            <div class="flex-1">
                <input asp-for="ReceiveNewsLetters" value="true" disabled="disabled" />
                <label asp-for="ReceiveNewsLetters" class="form-label">Receive News Letters</label>
                <span asp-validation-for="ReceiveNewsLetters" class="text-red"></span>
            </div>
        </div>

        <div class="form-field flex">
            <div class="w-25">
            </div>
            <div class="flex-1">
                <button class="button button-red-back" type="submit">Delete</button>
                <div asp-validation-summary="All" class="text-red"></div>
                @if (ViewBag.Errors != null)
                {
                    <div class="text-red ml">
                        <ul>
                            @foreach (string error in ViewBag.Errors)
                            {
                                <li class="ml">@error</li>
                            }
                        </ul>
                    </div>
                }
            </div>
        </div>
    </form>
</div>

