@model IEnumerable<PersonResponse>
@{
    ViewBag.Title = "Persons";
    PropertyInfo[] PersonProperties = typeof(PersonResponse).GetProperties();
    IEnumerable<PropertyInfo> filteredPersonProperties = PersonProperties.Where(prop => prop.Name != "PersonID" && prop.Name != "CountryID");
    string searchUrl = "~/persons/index";
}
@await Html.PartialAsync("_SearchForm", new ViewDataDictionary(ViewData){
    {"SeacrhUrl" , searchUrl}
})
<table class="table mt w-100">
    <thead>
        <tr>
            @foreach (PropertyInfo personProperty in filteredPersonProperties)
            {

                SortOrderOptions currentSortOrder = (SortOrderOptions)ViewBag.CurrentSortOrder;
                SortOrderOptions newSortOrder = currentSortOrder == SortOrderOptions.ASC && ViewBag.CurrentSortBy == personProperty.Name ? SortOrderOptions.DESC : SortOrderOptions.ASC;
                <th>
                    <div>
                        @personProperty.Name
                    </div>
                    <a class="@(ViewBag.CurrentSortBy == personProperty.Name ? "actvie-col" : "")" href="~/persons/index?searchBy=@ViewBag.CurrentSearchBy&searchString=@ViewBag.CurrentSearchString&sortBy=@personProperty.Name&sortOrder=@newSortOrder">
                        <i class="fa-solid  @(currentSortOrder == SortOrderOptions.ASC && ViewBag.CurrentSortBy == personProperty.Name ? "fa-sort-up"  : "fa-sort-down") "></i>
                    </a>
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (PersonResponse person in Model)
        {
            <tr>
                @foreach (PropertyInfo personProperty in filteredPersonProperties)
                {
                    <td>
                        @if (personProperty.Name == "DateOfBirth")
                        {
                            @person.DateOfBirth?.ToString("yyyy-mm-dd")
                        }
                        else
                        {
                            @personProperty.GetValue(person)
                        }
                    </td>
                }
                <td>
                    <button class="button button-orange-back" type="button">
                        <a asp-controller="Persons" asp-action="Edit" asp-route-personID="@person.PersonID" style="color:#fff;">Edit</a>
                    </button>
                </td>
                <td>
                    <button class="button button-red-back" type="button">
                        <a asp-controller="Persons" asp-action="Delete" asp-route-personID="@person.PersonID" style="color:#fff;">Delete</a>
                    </button>
                </td>
            </tr>

        }
    </tbody>
</table>
