<form action="~/@ViewBag.SearchFromActionUrl" method="get">
    <h1>Persons</h1>
    <div class="box flex">
        <div class="flex-1">
            <select class="form-input" name="searchBy">
                @foreach (var field in ViewBag.SearchFields)
                {
                    if (field.Key == ViewBag.CurrentSearchBy)
                    {
                        <option value="@field.Key" selected="selected">@field.Value </option>
                    }
                    else
                    {
                        <option value="@field.Key">@field.Value </option>
                    }

                }
            </select>
        </div>
        <div class="flex-1">
            <input type="search" id="Search" class="form-input" placeholder="Search" name="searchString" value="@ViewBag.CurrentSearchString" />
        </div>
        <div class="flex-1">
            <button class="button button-blue-back" type="submit">Search</button>
            <button class="button"><a href="~/@ViewBag.SearchFromActionUrl"class="link-hover">Clear All</a></button>
            <button class="button button-green-back" type="button"><a href="~/persons/create" style="color:#fff">Create</a></button>
        </div>
    </div>
</form>